<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Api</title>
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Fejk twitter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/api">Documentation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center">
        <div class="row bg-light mb-2">
            <div class="col">
                <h1>Documentation</h1>
            </div>
        </div>
        <div class="row bg-secondary border border-bottom border-dark py-2">
            <div class="col-3">
                URL
            </div>
            <div class="col-5">
                CONTENT
            </div>
            <div class="col-1">
                METHOD
            </div>
            <div class="col-3">
                DESCRIPTION
            </div>
        </div>
        
        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000
            </div>
            <div class="col-5">
                Entry point for application
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Home page
            </div>
        </div>
        
        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/api
            </div>
            <div class="col-5">
                List of all resources and methods
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Application documentation
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/login
            </div>
            <div class="col-5">
                Form for logging to users account
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Login page
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/login
            </div>
            <div class="col-5">
                Sending credentials on validation
            </div>
            <div class="col-1">
                POST
            </div>
            <div class="col-3">
                Log in to account
            </div>
        </div>
        
        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/register
            </div>
            <div class="col-5">
                Form for new users registration
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Registration page
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/register
            </div>
            <div class="col-5">
                Sending credentials for registering new user
            </div>
            <div class="col-1">
                POST
            </div>
            <div class="col-3">
                Register new user
            </div>
        </div>
        
        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/posts
            </div>
            <div class="col-5">
                List of all posts made from all registered users
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Get all posts from application
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/posts
            </div>
            <div class="col-5">
                Posting new post content to application
            </div>
            <div class="col-1">
                POST
            </div>
            <div class="col-3">
                Publish new post to application
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/users/:id
            </div>
            <div class="col-5">
                Displaying users credentials and buttons for editing account
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Credential informations
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/users/:id
            </div>
            <div class="col-5">
                Replacing old password with new password
            </div>
            <div class="col-1">
                PUT
            </div>
            <div class="col-3">
                Change account's password
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/users/:id
            </div>
            <div class="col-5">
                Starting routine for deleting user from database
            </div>
            <div class="col-1">
                DELETE
            </div>
            <div class="col-3">
                Delete your account
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/users/:id/user-posts
            </div>
            <div class="col-5">
                List of all posts made from one user
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Get all posts from your account
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/users/:id/user-posts/:postId
            </div>
            <div class="col-5">
                Getting selected post from user
            </div>
            <div class="col-1">
                GET
            </div>
            <div class="col-3">
                Get specific post from account
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/users/:id/user-posts/:postId
            </div>
            <div class="col-5">
                Changing old post content with new content
            </div>
            <div class="col-1">
                PUT
            </div>
            <div class="col-3">
                Edit post
            </div>
        </div>

        <div class="row bg-light border border-bottom border-dark py-2">
            <div class="col-3">
                http://127.0.0.1:8000/users/:id/user-posts/:postId
            </div>
            <div class="col-5">
                Starting routine for deleting selected post
            </div>
            <div class="col-1">
                DELETE
            </div>
            <div class="col-3">
                Delete post from application
            </div>
        </div>
    </div>



    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>