<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title><%=username%>'s post</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/posts">Fejk twitter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Here is your post</h1>
    <ul class="list-group">
        <li class="list-group-item"><%=content%>
        <button class="btn btn-danger mx-3" onclick="deletePost('<%=id%>', '<%=postId%>')">Delete</button></li>
        <li class="list-group-item">Unesi novi sadržaj
        <input type="text" id="newContent">
        <button class="btn btn-success mx-3" onclick="editPost('<%=id%>', '<%=postId%>')">Edit</button></li>
    </ul>


    <a href="/users/<%=id%>/user-posts" id="reload"></a>

    <script>
        function deletePost(id, postId){
            let response = fetch(`/users/${id}/user-posts/${postId}`, {
                method: 'DELETE'
            });
            document.getElementById("reload").click();
        }

        function editPost(id, postId){
            const value = document.getElementById("newContent").value;
            const data = {
                value
            };
            let response = fetch(`/users/${id}/user-posts/${postId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            document.getElementById("reload").click();
        }
    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</body>

</html>