<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Posts</title>
</head>

<body class="bg-light">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/posts">Fejk twitter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>Here are all posts on this forum</h1>
  <ul class="list-group">
    <% rows.forEach(function(row){ %>
    <li class="list-group-item"> <%= row.username %> says:  <%= row.postContent %> </li>
    <% }) %>
  </ul>

  <div class="text-center">
    <button class="btn btn-primary mt-5" onclick="show()">Make new post</button>
  </div>

  <div style="display: none;" class="text-center mt-5" id="form-container">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <form action="/posts" method="post" id="form">
                <div class="mb-3">
                    <label for="postContent" class="form-label">Post content: </label>
                    <textarea name="postContent" rows="4" id="postContent" class="form-control" required> </textarea>
                </div>
                <button type="submit" class="btn btn-primary mx-4">Post</button>
            </form>
        </div>
    </div>
</div>

<script>

  function show() {
  var x = document.getElementById("form-container");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

</body>

</html>