<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title><%=username%></title>
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/posts">Fejk twitter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center">
        <div class="row justify-content-md-center">
            <div class="col mb-5 mt-2">
                <h1>Here are your credentials</h1>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-3 border border-secondary">
                    <h3>Username:</h1>
                </div>
                <div class="col-md-3 border border-secondary">
                    <h3><%=username%></h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-3 border border-secondary">
                    <h3>Id:</h1>
                </div>
                <div class="col-md-3 border border-secondary">
                    <h3><%=id%></h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-3 border border-secondary">
                    <h3>Password:</h1>
                </div>
                <div class="col-md-3 border border-secondary">
                    <h3><%=password%></h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-3 mt-4">
                    <a href="/users/<%=id%>/user-posts" class="btn btn-dark">Your posts</a>
                </div>
                <div class="col-md-3 mt-4">
                    <button onclick="deleteAcc('<%=id%>')" class="btn btn-danger">Delete Account</button>
                </div>
            </div>
            <div class="row justify-content-md-center mt-5">
                <div class="col-md-3">
                    <h3>New password:</h1>
                </div>
                <div class="col-md-3">
                    <input type="text" name="newPass" id="newPass">
                    <button onclick="changePassword('<%=id%>')" class="btn btn-primary mt-3">Change password</button>
                </div>
            </div>
        </div>
    </div>
    <a href="/login" id="reload"></a>


    <script>
        function deleteAcc(id) {
            let response = fetch(`/users/${id}`, {
                method: 'DELETE'
            });
            document.getElementById("reload").click();


        }

        function changePassword(id) {
            console.log(document.getElementById("newPass").value);
            const value = document.getElementById("newPass").value;
            const data = {
                value
            };
            let response = fetch(`/users/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            document.getElementById("reload").click();
        }
    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</body>

</html>